@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Nunito:wght@400;600;700&display=swap");
* {
  margin: 0;
}

.slide {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10vw)[10];
      grid-template-columns: repeat(10, 10vw);
  -ms-grid-rows: (10vh)[10];
      grid-template-rows: repeat(10, 10vh);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 800vw;
  -webkit-transform: rotate(90deg) translateY(-100vh);
          transform: rotate(90deg) translateY(-100vh);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.one {
  background-color: red;
}

.two {
  background-color: yellow;
}

.three {
  background-color: blue;
}

.four {
  background-color: green;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  -webkit-transform: rotate(-90deg) translateX(-100vh);
          transform: rotate(-90deg) translateX(-100vh);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.hi {
  background-color: #FFFFFF;
}

.hi .navcircle {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.hi .hisvg {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / 6;
}

.hi .hisvg svg {
  overflow: visible;
}

.hi .hello-il {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  grid-row: 3 / 8;
}

.hi h2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
  font-family: "Nunito", sans-serif;
  font-size: 3rem;
  font-weight: normal;
  line-height: 5rem;
}

.hi .arrow {
  -ms-grid-column: 10;
  -ms-grid-column-span: 1;
  grid-column: 10 / 11;
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9 / 10;
}

.hi h1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2 / 7;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / 9;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 5rem;
  letter-spacing: 0.04em;
}

.hi h1 span {
  background-color: #FFDE00;
  padding: 0 0.3rem 0 0.3rem;
  margin-right: 0.3rem;
}

#H {
  -webkit-animation: rise 3s ease-in-out infinite alternate;
          animation: rise 3s ease-in-out infinite alternate;
}

#I {
  -webkit-animation: rise 3s ease-in-out 1s infinite alternate;
          animation: rise 3s ease-in-out 1s infinite alternate;
}

#shadow {
  -webkit-animation: shadow 3s ease-in-out infinite alternate;
          animation: shadow 3s ease-in-out infinite alternate;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes rise {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes rise {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@-webkit-keyframes shadow {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0.8);
            transform: scaleX(0.8);
  }
}

@keyframes shadow {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0.8);
            transform: scaleX(0.8);
  }
}
/*# sourceMappingURL=style2.css.map */